.container {
  height: 100%;
  color: white;
  font-family: var(--consolas);
  position: relative;
  width: 100%;

  &__cv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    /* background-color: var(--blue); */
    border: 2px solid var(--blue);
    background-color: transparent;
    color: var(--orange);
    font-weight: bold;
    cursor: pointer;
    z-index: 10;

    @media (hover: hover) {
      &:hover::before {
        opacity: 1;
      }
    }

    &:before {
      opacity: 0;
      content: "// Download";
      white-space: nowrap;
      position: absolute;
      bottom: -30px;
      left: -40px;
      color: var(--green);
      transition: 0.3s;
    }
  }

  & h1 {
    /* font-weight: 100; */
    color: var(--white);
    margin-bottom: 10px;
    font-size: 24px;
  }

  & h2 {
    color: var(--green);
  }

  &__topside {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding: 0 0;
    margin-bottom: 20px;

    &__image {
      width: 100px;
      height: auto;
    }

    &__text {
      text-align: center;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    & h3 {
      margin-bottom: 10px;
    }

    &__knowledges {
      margin-bottom: 25px;
    }

    & article {
      display: flex;
      flex-direction: column;
      color: var(--light-blue);

      & span {
        color: var(--pink);

        & em {
          color: var(--lighter-blue);
        }
      }

      & ul {
        padding: 0;
        margin: 0;

        & li {
          position: relative;
          list-style: none;
          margin-left: 10px;
          color: var(--orange);

          &:before {
            content: "-";
            position: absolute;
            left: -13px;
            top: 0;
            color: var(--lighter-blue) !important;
          }

          & span {
            color: var(--white);
          }
        }
      }
    }

    &__experience {
      margin-bottom: 23px;
      &__first {
        &:before {
          display: none;
        }

        &__sign {
          color: var(--yellow) !important;
          &:before {
            display: none;
            list-style: none;
            list-style-type: none;
          }

          & p {
            display: inline-block;
            color: var(--white);
          }
        }

        & ul {
          position: relative;
          padding-left: 20px;
          /* background-color: red; */

          & li {
            margin-left: 20px;
            color: var(--lighter-blue) !important;

            & span {
              color: var(--orange) !important;
            }
          }
        }
      }
    }
  }
}

.equal {
  color: var(--white) !important;
}
