.container {
  position: relative;
  padding: 10px 10px;
  display: flex;
  background-color: var(--black0);

  @media (--large) {
    padding: 15px 15px;
  }
  &__system {
    font-family: var(--consolas) !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    & p {
      display: inline-block;
      font-size: 16px;
      display: flex;
      gap: 5px;

      @media (--large) {
        font-size: 20px;
      }
      & :nth-child(1) {
        color: #fc5e56;
      }
      & :nth-child(2) {
        color: #fabd28;
      }
      & :nth-child(3) {
        color: #1bc93d;
      }
    }
  }

  &__search {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--gray1);
    color: var(--light-grey);
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    width: 200px;
    text-align: center;

    @media (--large) {
      width: 300px;
      height: 1px;
    }

    &__icon {
      /* position: absolute; */
      position: relative;
      height: 15px;
      width: auto;
      top: -2px;
      transform: scaleX(-1);

      & svg {
        height: 100%;
        width: auto;
        & path {
          stroke: var(--light-grey) !important;
        }
      }
    }
  }
}
