.container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--consolas);
  width: 100%;

  @media (--large) {
    min-height: 600px;
  }

  & h2 {
    margin-bottom: 10px;

    /* font-weight: bold; */
  }

  &__buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    flex: 1;
    height: calc(100% - 50px);

    &__wsp,
    &__email,
    &__github,
    &__linkedin {
      border-radius: 50%;
      border: 2px solid var(--white);
      display: flex;
      width: 100px;
      height: 100px !important;
      background-color: var(--gray1);
      margin: auto;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      font-size: 30px;

      @media (--medium) {
        width: 55%;
        height: 25% !important;
        border-radius: 10px;
      }

      @media (--large) {
        width: 25%;
        height: 25% !important;
        border-radius: 10px;
      }

      &__icon {
        position: relative;
        width: 50px;
        height: 50px;
        & svg {
          fill: white;
        }
      }
    }

    &__wsp {
      background-color: #64cd47;
    }

    &__email {
      background-color: #ce3c30;

      &__icon {
        position: relative;
        width: 50px;
        height: 50px;
        & svg {
          fill: none;

          & path {
            stroke: white;
          }
        }
      }
    }

    &__github {
      background-color: #010409;

      &__icon {
        position: relative;
        width: 50px;
        height: 50px;
        & svg {
          & path {
            fill: white !important;
          }
        }
      }
    }
    &__linkedin {
      background-color: #0a66c2;

      &__icon {
        position: relative;
        width: 40px;
        height: 40px;
        & svg {
          & path {
            fill: white !important;
          }
        }
      }
    }
  }
}

.helper {
  height: 100%;
}
